
    <div class="mx-5 mt-5 w-75">
      <h3 class="m-3  fw-bold " style="color:black;font-family: sans-serif;">Dashboard </h3>
    </div>
      <hr class="text-black bg-black m-auto mx-5"/>
    <div class="container-fluid py-4">
      <div class="row">
        
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Employee</p>
                    <h5 class="font-weight-bolder">
                      {{allData.totalUser}}
                    </h5>
                   
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary bg-danger  shadow-primary text-center rounded-circle">
                    <i class="fa-solid fa-users text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Total Skill</p>
                    <h5 class="font-weight-bolder">
                      {{allData.totalSkill}}
                    </h5>
                   
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="fa-solid fa-book-open-reader text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">AVG Experience</p>
                    <h5 class="font-weight-bolder">
                      {{allData.experienceAVG}} years
                    </h5>
                   
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="fa-solid fa-calendar text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Web Developer</p>
                    <h5 class="font-weight-bolder">
                      {{webDev()}}
                    </h5>
                      
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="fa-brands fa-dev text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Skill overview</h6>
              
            </div>
            <div class="mt-4">
                <div class="chart- m-auto col-lg-12" style=" margin:auto;">
                    <!-- <h5 class="text-center">Skill Chart</h5> -->
                    <canvas baseChart 
                        [datasets]="barChartData" 
                        [labels]="chartLabels" 
                        [options]="barChartOptions" 
                        chartType="bar">
                    </canvas>
                </div> 
            </div>
         
          </div>
        </div>
         
        <div class="col-lg-5">
          <div class="card card-carousel overflow-hidden h-100 p-0">
            <div id="carouselExampleAutoplaying" class="carousel slide h-100" data-bs-ride="carousel">
              <div class="carousel-inner border-radius-lg h-100">
              
                <div class="carousel-item h-100 " style="background-image: url('assets/6587133.jpg');
      background-size: cover;">
                </div> 
                
                <div class="carousel-item h-100 active" style="background-image: url('assets/19197184.jpg');
      background-size: cover;">
                </div>
                          <div class="carousel-item h-100" style="background-image: url('assets/bigdata_4.jpg');
                          background-size: cover;">
                                    </div>
                 
              </div>
              
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card  ">
            <div class="card-header pb-0 p-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-2">Dot Net Developers</h6>
              </div>
            </div>
            <div class="table-responsive" style="overflow-y: auto;height: 265px;scrollbar-width:none;" >
              <table class="table align-items-center ">
                <tbody>

                  <tr *ngFor="let user of dotNetDev();  let i = index">
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img [src]="'https://localhost:7111/' + user.photo" width="40" height="40" class="rounded-circle" alt="Country flag">
                          
                        </div>
                        <div class="ms-4">
                          <p class="text-sm font-weight-bold mb-0">{{user.fullName}}</p>
                          <h6 class="text-sm mb-0">{{user.country}}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Work Japan:</p>
                        <h6 class="text-sm mb-0">{{user.workJapan}}</h6>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Gender:</p>
                        <h6 class="text-sm mb-0">{{user.sex}}</h6>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Joining:</p>
                        <h6 class="text-sm mb-0">{{user.joiningDate}}</h6>
                      </div>
                    </td>
                  </tr>
      
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Ratio (Male/Female)</h6>
            </div>
            <div class="card-body p-3">
              <div style="width: 50%; margin: auto;">
            
  <canvas baseChart id="pieChartCanvas"></canvas> 
              </div>
            </div>
          </div>
        </div>
      </div>
 
    </div> 